<p>Thankyou for visiting the Animals Shelter free online pet classifieds website. We are the UK's most popular UK classfieds website for various kinds of Pets including Cats, Dogs, Rabbits and Horses to name a few. We are also totally free to use.

The Pets4Homes website was started in May 2005 and has quickly grown to become the UKs leading free dedicated pet advertising site. We now receive over 5 Million visitors every month and over 50 million page views each month.

The Pets4Homes.co.uk website is owned and operated by Pet Media Ltd ( http://www.petmedia.co.uk )


What We Do?
The Animals Shelter website provides a totally free to use advertising platform for private individuals, responsible breeders and rescue centers to list their adverts on. Potential buyers or adopters of pets can use the website to make initial contact with the advertisers. We also provide information and advice for potential pet owners.</p>
