<address>
    <span appStrongItem><strong>OUR LOCATION</strong></span>
    <iframe width="100%" height="350" src='https://www.google.com/maps/embed/v1/place?q=sofia%20malinov%2031&key=AIzaSyB-3eF82eujpNm2WmHiRf3kdRRAefAloAg'
            frameborder="0"></iframe>
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div>
                    <div><strong>FIND US:</strong></div>
                    31 Malinov bld <br> Sofia, Bulgaria
                </div>
                <div>
                    <div><strong>CALL US:</strong></div>
                    PHONE: 02 222 222 <br> FAX: 02 333 333
                </div>
                <div>
                    <div><strong>E-MAIL:</strong><br></div>
                    management@management.com <br>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div>
                    <div><strong>OUT HOURS:</strong><br></div>
                    Monday: 8AM–7PM <br> Wednesday: 8AM–7PM <br> Thursday: 8AM–7PM <br> Friday: 8AM–5PM
                    <br> Saturday: 8AM–1PM <br> Urgent Care: 1PM–2PM <br> Sunday: Closed <br>
                </div>
            </div>
        </div>
    </div>
</address>