<div class="row">
    <div class="col-md-3">
        <h2><a class="btn btn-default btn-block" onclick="window.location.href='@Url.Action("AnimalsForAdoption", "Animal")'"><strong>ADOPT ANIMAL</strong></a></h2>
        <fieldset class="animations">
            <div id="carousel-1" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                    <li data-target="#carousel-1" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" align="center">
                    <div class="item active" id="firstImage">
                        <img src="~/Images/cat1.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/dog1.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/bunny1.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/parrot1.jpg" height="450" width="300">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </fieldset>
    </div>
    <div class="col-md-3">
        <h2><a class="btn btn-default btn-block" onclick="window.location.href='@Url.Action("AnimalsForRehome", "Animal")'"><strong>REHOME ANIMAL</strong></a></h2>
        <fieldset class="animations">
            <div id="carousel-2" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-2" data-slide-to="1"></li>
                    <li data-target="#carousel-2" data-slide-to="2"></li>
                    <li data-target="#carousel-2" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" align="center">
                    <div class="item active" id="firstImage">
                        <img src="~/Images/dog2.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/bunny2.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/parrot2.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/cat2.png" height="450" width="300">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </fieldset>
    </div>
    <div class="col-md-3">
        <h2><a class="btn btn-default btn-block" onclick="window.location.href='@Url.Action("LostAnimals", "Animal")'"><strong>LOST ANIMALS</strong></a></h2>
        <fieldset class="animations">
            <div id="carousel-3" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-3" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-3" data-slide-to="1"></li>
                    <li data-target="#carousel-3" data-slide-to="2"></li>
                    <li data-target="#carousel-3" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" align="center">
                    <div class="item active" id="firstImage">
                        <img src="~/Images/bunny3.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/parrot3.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/cat3.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/dog3.png" height="450" width="300">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carousel-3" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-3" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </fieldset>
    </div>
    <div class="col-md-3">
        <h2><a class="btn btn-default btn-block" onclick="window.location.href='@Url.Action("FoundAnimals", "Animal")'"><strong>FOUND ANIMALS</strong></a></h2>
        <fieldset class="animations">
            <div id="carousel-4" class="carousel slide" data-ride="carousel" data-interval="3000">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-4" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-4" data-slide-to="1"></li>
                    <li data-target="#carousel-4" data-slide-to="2"></li>
                    <li data-target="#carousel-4" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" align="center">
                    <div class="item active" id="firstImage">
                        <img src="~/Images/parrot4.jpg" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/cat4.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/dog4.png" height="450" width="300">
                    </div>
                    <div class="item" id="secondImage">
                        <img src="~/Images/bunny4.png" height="450" width="300">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#carousel-4" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-4" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </fieldset>
    </div>
</div>
