@using AnimalsShelter.Web.ViewModels.Animals

@model AnimalsViewModel

@if (!string.IsNullOrEmpty(Model.ImagePath))
{
    <img class="avatar" src="@Url.Content(Model.ImagePath)" alt="Image" />
}

<div>
    @Html.TextBox("Image", Model.ImagePath, new { type = "file", name = "image" }) <br />
</div>