<h4 align="center">Change your account settings</h4>
<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
<div class="text-center navbar-btn">
    @if (Model.HasPassword)
    {
        <input type="button" value="Change your password" class="btn btn-warning"
               onclick="window.location.href='@Url.Action("ChangePassword", "Manage")'" />
    }
    else
    {
        <input type="button" value="Create" class="btn btn-warning"
               onclick="window.location.href='@Url.Action("SetPassword", "Manage")'" />
    }
</div>