<h4 align="center">Change your account settings</h4>
<p class="text-success">@ViewBag.StatusMessage</p>
<hr />
<div class="text-center navbar-btn">
        <input type="button" value="Change your password" class="btn btn-warning"
               onclick="window.location.href='@Url.Action("ChangePassword", "Manage")'" />
</div>